body{
  margin: 0;
  background: #e7e4ff;
}

.start-view{  
  position: relative;
  width: 50%;
  margin: 5rem auto;
}

.card-management{
  text-align: center;
  padding-top: 20rem;
}

.mascot{
  animation: dance 10s cubic-bezier(.4,.4,.4,.4) alternate infinite;
  position: absolute;
  left: 0;
  width: 14rem;
  img{
    width: 100%;
  }
}
.joke {
  position: absolute;
  top: 5rem;
  background: white;
  padding: 1rem;
  font-size: 20px;
  transform: rotate(-10deg) translateX(-50%);
  left: 50%;
  width: 18rem;
}

@keyframes dance {

  0%{
    transform: rotate(30deg);
    transform-origin: center;
    left:0;
  }
  10%{
    transform: rotate(-30deg) ;
    transform-origin: center;
    left:0;
  }
  20%{
    transform: rotate(30deg) ;
    transform-origin: center;
    left:0;
  }
  30%{
    transform: rotate(-30deg) ;
    transform-origin: center;
    left:0;
  }
  40%{
    transform: rotate(30deg) ;
    transform-origin: center;
    left:0;
  }
  50%{
    transform: rotate(-30deg) ;
    transform-origin: center;
    left:100%;
  }
  60%{
    transform: rotate(30deg) ;
    transform-origin: center;
    left:100%;
  }
  70%{
    transform: rotate(-30deg) ;
    transform-origin: center;
    left:100%;
  }
  80%{
    transform: rotate(30deg) ;
    transform-origin: center;
    left:100%;
  }
  90%{
    transform: rotate(-30deg) ;
    transform-origin: center;
    left:100%;
  }
  100% {
    transform: rotate(30deg) ;
    transform-origin: center;
    left:100%;
  }
}
